/* style.css */

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #ff0000, #610000); /* Gradasi merah ke merah muda */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.8); /* Latar belakang kontainer semi-transparan */
  padding: 20px;
  border-radius: 8px; /* Sudut bulat 8px */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px; /* Add some space below the heading */
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  width: 100%; /* Make the button take up the full container width */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

}

button:hover {
  background-color: #0056b3;
}

.links {
  margin-top: 20px;
}

.links a {
  color: #007bff;
  text-decoration: none;
  margin-right: 20px;
}

.links a:hover {
  text-decoration: underline;
}
